<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="">
	<title>Beneficios ngMap</title>

	<!-- STYLES -->
	<link rel="stylesheet" type="text/css" href="./src/css/styles.css">
</head>

<body ng-app="app">
	<div class="container" ng-controller="antesmap as vm">

		<header>
			<span ng-repeat="placeList in positions" ng-mouseover="showDetailBtn(event, placeList);" ng-click="showDetailBtn(event, placeList);">{{ placeList.title }} <br></span>
			<hr>
      <input
        places-auto-complete
        size=80
        ng-model="vm.address"
        component-restrictions="{country:'cl'}"
        types="{{ types }}"
        on-place-changed="vm.placeChanged()" />

				<input
	        places-auto-complete
	        size=80
	        ng-model="vm.address"
	        component-restrictions="{country:'cl'}"
	        types="{{ types }}"
	        on-place-changed="vm.placeChanged()" />
      <br>
			Latitude : <input type="number" ng-model="vm.lat" /> Longitude : <input type="number" ng-model="vm.lng" />
			<button ng-click="dragBtn(-33.618608, -70.590606)">Puente Alto</button>
			<button ng-click="dragBtn(-33.398981, -70.557312)">Las Condes</button>
		</header>

    <!-- <div class="" ng-if="vm.place"> -->
		    <ng-map id="mapId" default-style="false" center="{{ setCenter }}" zoom="{{ setZoom }}" on-dragend="dragEvent();" on-click="hideDetail();">
    <!-- </div> -->

			<!-- <custom-marker
			id="{{ place.slug }}"
			title="{{ place.slug }}"
			ng-repeat="place in positions"
			position="{{ place.lat }}, {{ place.lng }}"
			on-click="showDetail(event, place);"
			icon="">
	      <div>
	        <b>{{ place.title }}</b>
	      </div>
	    </custom-marker> -->

			<marker
				id="{{ place.slug }}"
				title="{{ place.slug }}"
				ng-repeat="place in positions"
				position="{{ place.lat }}, {{ place.lng }}"
				on-click="showDetail(event, place);"
				icon="">
			</marker>

			<info-window max-width="300" id="iw_id" visible="false" visible-on-marker="">
				<div ng-non-bindable="">
					<div class="infoWinContainer">
						<div class="infoWinImg" style="background: url(http:{{ place.imgCover }}) no-repeat center center; background-size: cover;">
						</div>
						<div class="infoWinTxt">
							<h2>{{ place.title }}</h2>
							<a class="btnOpenCanvas" href="" ng-click="toggleCanvas();"><b>Ver detalles ></b></a>
						</div>
					</div>
				</div>
			</info-window>

		</ng-map>

	</div>

	<!-- GOOGLE MAPS API -->
	<script src="http://maps.google.com/maps/api/js?key=AIzaSyDfJQQuw4KFe3FmLFpqryr_ccpGMPswZaI&libraries=places"></script>
	<script src="./src/angularjs/angular.min.js"></script>
	<script src="./src/ngmap/ng-map.min.js"></script>
	<script src="./src/angularjs/app.js"></script>
</body>
</html>
