html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

.header {
	width: 100%;
	height: 100px;
	margin: 0;
	padding: 0;
	display: block;
}

.intitialLoading {
	position: absolute;
	z-index: 9999;
	top: 100px;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 1);
	color: #000;
}

.mapContainer {
	width: 100%;
	height: calc(100vh - 100px);
	background: #EEE;
	margin: 0;
	padding: 0;
	display: block;
}

h1 {
	font-size: 2em;
	margin: 0;
	padding: 0;
}

ng-map {
	width: 100%;
	height: 100%;
	position: relative;
	display: block;
}








a {
  color: red;
  text-decoration: none;
}


/* Canvas */
[canvas] {
	z-index: 1;
}

[canvas=container] {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	position: relative;
	background-color: white;
	-webkit-overflow-scrolling: touch;
}

[canvas=container]:before,
[canvas=container]:after {
	clear: both;
	content: '';
	display: table;
}

a.panelOverlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9998;
  background: rgba(0,0,0,.6);
  cursor: pointer;
}
a.panelOverlay.show {
  display: block;
}

/* Off-Canvas */
[off-canvas] {
	display: block;
	visibility: hidden;
	position: fixed;
	overflow: hidden;
	overflow-y: auto;
	background-color: white;
	color: black;
	-webkit-overflow-scrolling: touch;
}

[off-canvas*=right] {
	width: 70%;
	height: 100%;
	top: 0;
	right: 0;
}

[off-canvas*=overlay] {
	z-index: 9998;
}

.canvasBottom {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 80px;
  background: #EEE;
  color: #CCC;
  padding: 20px;
  z-index: 9999;
	display: block;
	visibility: hidden;
	-webkit-overflow-scrolling: touch;
  -webkit-box-shadow: 0px -1px 6px rgba(50, 50, 50, .2);
  -moz-box-shadow:    0px -1px 6px rgba(50, 50, 50, .2);
  box-shadow:         0px -1px 6px rgba(50, 50, 50, .2);
}

[off-canvas*=animated],
.canvasBottom {
  -webkit-animation-duration: 400ms;
  animation-duration: 400ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}
@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}
@-webkit-keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

[off-canvas].slideInLeft,
.canvasBottom.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}
[off-canvas].slide0utLeft,
.canvasBottom.slide0utLeft {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
}

.canvasContainer {
  padding: 20px 20px 120px 20px;
}

.infoWinContainer {
  position: relative;
  width: 300px;
  height: 70px;
}
.infoWinImg {
  width: 70px;
  height: 70px;
  float: left;
  display: block;
}

.infoWinTxt {
  width: 230px;
  height: 70px;
  float: right;
  display: block;
}

h2 {
  font-size: 14px;
  margin: 10px 0 5px 5px;
  padding: 0;
  text-align: left;
}

.btnOpenCanvas {
  background: red;
  color: white;
  width: 70px;
  font-size: 10px;
  margin: 5px 0 0px 5px;
  padding: 8px 0px;
  display: block;
  text-align: center;
}

img.infoWindImg {
  margin: 0px;
  width: 70px;
  height: 70px;
  display: block;
}

/*
.ng-map-info-window {
  background-color: #000 !important;
  color: #FFF;
}
.ng-map-info-window div:first-child > div:nth-child(1) {
  border-top-color: #000 !important;
}
.ng-map-info-window div:first-child > div:nth-child(3) div {
  background-color: transparent !important;
  
}
.ng-map-info-window div:first-child > div:nth-child(4) {
  background-color: transparent !important;
}*/







